<%if @jobs.count != @user_jobs.count %>
  <h1><%= @query_title %> Job titles matching your search: <%= @jobs.count %></h1>
  <p><%= link_to "Clear results", jobs_path %></p>
<% else %>
  <h1>All jobs</h1>
<% end %>

<% @jobs.each do |job| %>
  <h4><%= job.name %></h4>
  <p><%= job.description.html_safe %></p>
  <p>User id: <%= job.user_id %></p>

  <h5>Comments</h5>
  <div id="comments_<%= job.id %>">
    <%= render :partial => job.comments %>
  </div>
  <p class="show_comment">New comment</p>
  <div class="form hide_form">
  <%= form_for([job, job.comments.build], :remote => true) do |f| %>
    <p><%= f.text_area :content, :class => 'comment_input' %></p>
    <p><%= f.submit "Add comment" %></p>
  <% end %>
  </div>
<% end %>



