<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CareerPlug</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% if current_user %>
        <li><%= link_to "Sign out", :logout, method: :post %></li>
        <li><%= link_to "Post a Job", new_job_path %></li>
        <li><%= link_to "All Jobs", jobs_path %></li>
      </ul>

      <!-- When submitting the form, the view rendered will be the jobs index view -->
      <%= form_tag(jobs_path, :method => "get", class: "navbar-form navbar-left", id: "search-form") do %>
      <div class="form-group">
      <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Jobs" %>
      <button class="btn btn-default" type="submit">Submit</button>
      </div>
      <% end %>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Sign in", :login %></li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
